.navbar {
  width: 100%;
  background: linear-gradient(90deg, #020617, #0f172a, #020617);
  padding: 14px 0;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 28px;
  font-weight: 800;
  color: #38bdf8;
  letter-spacing: 1px;
}


.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}


.nav-links a:hover {
  color: white;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}


.logout-btn {
  background: none;
  border: none;
  color: #cbd5f5;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  padding: 0;
}

.logout-btn:hover {
  color: white;
}

.logout-btn::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: #38bdf8;
  transition: 0.3s;
}

.logout-btn:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .nav-links {
    gap: 15px;
  }

  .logo {
    font-size: 22px;
  }
}